@media only screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .flex-image {
        max-width: 100%;
    }

    .video-container {
        width: 100%;
        overflow: hidden;
    }

    .audio-container {
        text-align: center;
    }

    iframe {
        width: 100%;
        height: 200px; /* Ajuste a altura conforme necessário */
    }
}
